html {
  height: 100%;
  background: rgb(0,0,0);
  background: repeating-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(152,50,18,1) 41%, rgba(9,97,121,1) 59%, rgba(0,13,68,1) 100%);
  background-size: cover;
  background-repeat: no-repeat, repeat, repeat;
  background-position: center center;
}

body {
  margin: 0;
  font-family: 'Yrsa', serif;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

input {
  margin: 5px;
  padding: 10px;
}

input[type=button] {
  background-color: #e9c429;
}

span {
  font-size: 22px;
  padding: 8px;
}

p {
  font-size: 22px;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 48px;
  letter-spacing: 3px;
  margin-top: 2px;
}

.weather, h1 {
  color: whitesmoke;
}

.location {
  border: 2px solid red;
}
h1:hover {
  background: #eee;
}
@media only screen and (min-width: 768px) {
  body {
    background-size: cover;
    width: 100%;
  }
}
